/roda-*.gem
/rdoc/
/coverage/
/www/public/*.html
/www/public/rdoc/
/.sass-cache/
/spec/dummy/assets/css/app.*.css
/spec/dummy/assets/js/app.head.*.js
/spec/dummy/assets/css/compiled.*.css
/spec/dummy/assets/js/compiled.*.js
